.best-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  width: 202px;
  height: 26px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 83.333% */
  margin: 15px 0 35px;
  }

  .best-products-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .best-products-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .best-products-img {
    width: 350px;
    height: 350px;
  }

  .overlay {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0;
    background: rgba(52, 48, 48, 0.50);
  }

  .best-products-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 141px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
  }
  
  .title {
    margin-bottom: 18px;
  }

  /*tablet*/
@media(min-width: 600px) {
.best-products {
  margin-bottom: 5px;
}

  .best-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .best-products-item {
    margin: 0 8px 30px;
  }

  .best-products-img {
    width: 220px;
    height: 220px;
  }

  .overlay {
    width: 220px;
    height: 220px;
  }
}