.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #EFEFEF;
  margin-top: 25px;
  padding: 40px 12px 30px;
}

.footer-logo {
  display: block;
  width: 90%;
}

.foot-flex {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px 12px 45px;
}

.foot-1 {
  margin-bottom: 65px;;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 14px;
}

.contact-text {
  width: 226px;
  height: 21px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
}

.subscribe {
  width: 320px;
  height: 54px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form {
  width: 336px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 100%;
  width: 287px;
  border: 0.4px solid rgba(0, 0, 0, 0.38);
  background: #F9F9F9;
  padding-left: 14px;
  margin-top: 20px;
}

input::placeholder {
  width: 162px;
  height: 22px;
  color: #7A7A7A;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  height: 112%;
  width: 49px;
  background: #D9D9D9;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.copyright {
  display: block;
  width: 90%;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 12px 0;
}

hr {
  width: 336px;
  height: 1px;
  background: rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}

  /*tablet*/
  @media(min-width: 600px) {
    .footer {
      margin-top: 40px;
    }

    .foot-flex {
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin: 45px 35px 30px;
    }

    .foot-1 {
      margin-bottom: 0;
    }

    hr {
      width: 90%;
      height: 1px;
      margin-bottom: 15px;
    }

    .copyright {
      margin: 0px 35px 30px;
    }
  }

  /*desktop*/
@media(min-width: 1280px) {

  .foot-flex {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 45px 120px 40px;
  }

  .foot-1 {
    margin-bottom: 0;
  }

  hr {
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
  }

  .copyright {
    margin: 0px 125px 30px;
  }
}