.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-img-2, .hero-img-3 {
  display: none;
}

.top-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  top: 35px;
}

.logo {
  width: 113px; 
  height: 27px;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav-icon {
  margin: 0 10px 0;
}

.rectangle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 171px;
  background: rgba(255, 255, 255, 0.83);
  top: 315px;
  text-align: center;
}

.hero-h {
  width: 199px;
  height: 65px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px; /* 110% */
  margin: 0;
}

.shop-now {
  width: 72px;
  height: 32px;
  color: #000;
  text-align: center;
  font-family: Dosis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px; /* 206.25% */
  text-decoration-line: underline;
  margin: 13px 0px 0px;
  cursor: pointer;
}

/*tablet*/
@media(min-width: 600px) {
  .hero-img {
    display: none;
  }

  .hero-img-2 {
  display: block;
  width: 100%;
  }
}

/*desktop*/
@media(min-width: 1280px) {
  .hero-img-2 {
    display: none;
  }

  .hero-img-3 {
  display: block;
  width: 100%;
  }
}