.hero-img {
  position: relative;
  width: 375px; 
  height: 812px;
}

.top-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 20px;
  right: 20px;
  top: 34px;}

.logo {
  width: 113px; 
  height: 27px;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav-icon {
  margin: 10px;
}

.rectangle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 171px;
  background: rgba(255, 255, 255, 0.83);
  top: 315px;
  bottom: 326px;
  left: 22px;
  right: 22px;
  text-align: center;
}

.hero-h {
  width: 199px;
  height: 65px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px; /* 110% */
  margin: 0;
}

.shop-now {
  width: 72px;
  height: 32px;
  color: #000;
  text-align: center;
  font-family: Dosis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px; /* 206.25% */
  text-decoration-line: underline;
  margin: 13px 0px 0px;
  cursor: pointer;
}




