.new-products {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
}

.collection {
position: relative;
margin: 0 12px 20px;
}

.new-products-img {
  width: 100%;
}

.new-products-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  top: 33px;
  left: 15px;
}

.new-products-h {
  width: 138px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 125% */
  margin: 0;
}

/*tablet*/
@media(min-width: 600px) {
  .new-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 45px;
    margin-bottom: 35px;
  }

  .collection {
    position: relative;
    margin: 0 12px 0;
  }
}

/*desktop*/
@media(min-width: 1280px) {
  .new-products {
    margin: 58px 20px 0;
  }

  .new-products-text {
    top: 110px;
    left: 24px;
  }

  .new-products-h {
    width: 245px;
    left: 25px;
    text-align: left;
  }

  .collection {
    margin: 0 15px 0;
  }
}