.recent-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-list {
  display: grid;
  grid-template-columns: 350px;
}

.news {
  position: relative;
  margin-bottom: 20px;
}

.news-img {
  width: 350px;
  height: 350px;
}

.date {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 67px;
  width: 67px;
  top: 19px;
  left: 19px;
  background: rgba(255, 255, 255, 0.83);
}

.day {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.month {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news-text {
  position: absolute;
  top: 238px;
  left: 19px;
}

.news-title {
  width: 296px;
  height: 41px;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.read-more {
  width: 76px;
  height: 32px;
  color: #000;
  text-align: center;
  font-family: Dosis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px; /* 206.25% */
  text-decoration-line: underline;
  cursor: pointer;;
}

  /*tablet*/
  @media(min-width: 600px) {
    .recent-news {
      margin-top: 20px;
    }

    .news-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    .news {
      margin: 0 15px 20px;
    }
    
    .news-img {
      width: 330px;
      height: 330px;
    }
  }

  /*desktop*/
@media(min-width: 1280px) {
  .recent-news {
    margin-top: 52px;
  }

  .news-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .news {
    margin: 0 15px 20px;
  }
  
  .news-img {
    width: 380px;
    height: 380px;
  }
}